@use "../utilitis/variables";
@use "../utilitis/extend"; 

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
  background-color: variables.$light-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    input,
    textarea {
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f7f7f7;
      outline: none;
      width: 100%;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
      font-family: 'Roboto', sans-serif;

      &:focus {
        border-color: variables.$primary-color;
      }
    }

    button {
      @include extend.button-base;
      background-color: variables.$dark-gray;
      color: variables.$light-color;
      border: 1px solid variables.$dark-gray;
      padding: 0.8rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      font-family: 'Poppins', sans-serif;

      &:hover {
        background-color: variables.$light-color;
        color: variables.$dark-gray;
      }
    }
  }
}