@use "../utilitis/mixins";
@use "../base/tipografia";

.navbar {
    background-image: linear-gradient(to bottom, #d88c51, #d3a079);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {   
        font-size: 50px;
        color: #ffffff;
        margin-left: 25px;
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        }
    ul {
       @include mixins.flex(row, end, center);
        padding-right: 25px;
        gap: 32px;
        font-size: 20px;
        
        li{
            list-style-type: none;

            .button-a, .button-b, .button-c {
                color: beige;
                font-family: 'Poppins', sans-serif;
                padding: 5px;
                border: 3px solid beige;
                display: inline-block;
                border-radius: 8px;
            }
            
        }
    }
}


.hamburguesa {
  display: none;
  font-size: 40px;
  color: beige;
  margin-right: 25px;
  cursor: pointer;
  border: 2px solid beige;
  border-radius: 15px;
}


#menu-toggle {
  display: none;
}


@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      display: none;
      gap: 15px;
      padding: 20px 0;
    }

 
    #menu-toggle:checked + .hamburguesa + ul {
      display: flex;
    }

    .hamburguesa {
      display: block;
    }
  }
}
