$pure-black: #000000;
$dark-gray: #222; // Color principal para fondos y texto
$p-gray: #f7f7fef7;
$p-size: 20px;
$primary-color: #d88c51; // Color de acento
$light-color: #fff; // Color para texto y fondos claros